html, body {
    width: 100%;
    /* max-width: 960px; */
    height: 100%;
    /* font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, sans-serif; */
    font-family: -apple-system, 'Montserrat', sans-serif;
    /* font-size: 20px; */
}

main {
    display: flex;
    flex-flow: column;
}

section {
    width: auto;
    display: block;
    /* display: flex;
    flex-flow: column;
    flex-wrap: wrap; */
    margin: auto;
    border: none;
    /* padding: 5%; */
}

.container {
    display: inline-block;
    cursor: pointer;
  }

  .bar {
    width: 100px;
    height: 10px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
  }

/* div {
    display: block;
    border: none;
    height: fit-content;
    margin: 20px;
    padding: 20px;
    width: fit-content;
} */


.top, .process, .contact {
    background-color: #443a8b;
}

.hello, .profile {
    background-color: #f7f7f7;
}

.mywork, .myblog, .clients {
    background-color: #fff;
}


.btnhome {
    position: static;
    /* object-position: left; */
    float: left;
    height: 350px;
    width: 350px;
    top: 5%;
    left: 5%;
    background-color: #f65589;
    font-size: 100px;
    color: white;
    /* clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%); */

    /* border-radius: 50% 50% 50% / 60% 40% 40%; */
    /* border-radius: 75% 25% / 35% 60%; */
    border-radius: 64% 36% 48% 53% / 62% 59% 40% 33% ;
    border-color: #f65589;
    cursor: pointer;
}
.btnmenu {
    position: static;
    float: right;
    height: 250px;
    width: 250px;
    
    top: 5%;
    right: 5%;

}

h1 {
    display: inline;
    font-size: 20em;
    /* font-size: 124px; */
    text-align: center;
    /* text-transform: capitalize; */
}


h2 {
    display: inline;
    font-size: 15em;
    /* font-size: 75px; */
    /* text-transform: capitalize; */
}

h3 {
    display: inline;
    font-size: 5em;
}

h4 {
    display: inline;
    font-size: 4em;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 14px;
}

p {
    font-size: 16px;
}

.top {
    position: relative;
    z-index: -1;
    height: 1225px;
    width: 100%;
    clip-path: polygon(
        0 0,
        100% 0,
        100% calc(100% - 25vw),
        0 100%
        );
    margin-bottom: -25%;
    padding-bottom: 25%;
}
/*  */
/* // calc(100% - 85vw) */

.hello {
    position: relative;
    /* position: absolute; */
    z-index: -1;
    height: 2224px;
    width: 100%;
    clip-path: polygon(
        0 calc(100% - 75vw),
        100% 0,
        100% 100%,
        0 calc(100% - 25vw)
        );
    margin-bottom: -25%;
    padding-top: 25%;
}


.mywork {
    position: relative;
    z-index: -1;
    height: 3866px;
    width: 100%;
    clip-path: polygon(
        0 0,
        100% calc(100% - 75vw),
        100% calc(100% - 25vw),
        0 100%);
    /* margin-bottom: -25vw; */
}

.process {
    position: relative;
    z-index: -1;
    height: 2146px;
    width: 100%;
    clip-path: polygon(
        0 calc(100% - 75vw),
        100% 0,
        100% 100%,
        0% calc(100% - 25vw)
        );

}

.myblog {
    position: relative;
    z-index: -1;
    height: 2570px;
    width: 100%;
    clip-path: polygon(
        0 0,
        100% calc(100% - 75vw),
        100% calc(100% - 25vw),
        0 100%
        );

}

.profile {
    position: relative;
    z-index: -1;
    height: 1902px;
    width: 100%;
    clip-path: polygon(
        0 calc(100% - 75vw),
        100% 0,
        100% 100%,
        0 calc(100% - 25vw)
        );

}

.clients {
    position: relative;
    z-index: -1;
    height: 1884px;
    width: 100%;
    clip-path: polygon(
        0 0,
        100% calc(100% - 75vw),
        100% calc(100% - 25vw),
        0 100%
        );

}

.contact {
    position: relative;
    z-index: -1;
    height: 1896px;
    width: 100%;
    clip-path: polygon(
        0 calc(100% - 75vw),
        100% 0,
        100% 100%,
        0 100%
        );

}

.name {
    /* border: none;
    height: 80;
    width: fit-content;
    margin: 20px;
    top: 7%;
    left: 50%;
    /* padding: 20px; */
    /* writing-mode: vertical-rl;
    transform: rotateZ(180deg); */
    position: relative;
    display: inline;
    writing-mode: tb-rl;
    transform: rotate(180deg);
    text-transform: uppercase;
    color: white;
    /* text-align: left; */
    
}

.textPink {
    position: relative;
    display: inline;
    writing-mode: tb-rl;
    transform: rotate(180deg);
    color: #f65589;
}

.title {
    position: relative;
    color: black;
    left: 50%;
    top: 15%;
    display: inline-block;
    text-align: center;
    /* line-height: 1.2em; */
    margin-bottom: 20px;
}

.describe {
    position: relative;
    color: black;
    left: 50%;
    top: 15%;
    display: inline-block;
    text-align: center;
    border-left: 6px solid grey;
    height: 2em;
    /* line-height: 1.2em; */
    /* margin-bottom: 5px; */
}


/* .top {

}

.hello {

}

.mywork {

}

.process {

}

.myblog {

}

.profile {

}

.clients {

}

.contact {
    
} */